
## <summary>policy for ftransferd</summary>

########################################
## <summary>
##	Execute a domain transition to run ftransferd.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`ftransferd_domtrans',`
	gen_require(`
		type ftransferd_t;
                type ftransferd_exec_t;
	')

	domtrans_pattern($1,ftransferd_exec_t,ftransferd_t)
')


########################################
## <summary>
##	Execute ftransferd server in the ftransferd domain.
## </summary>
## <param name="domain">
##	<summary>
##	The type of the process performing this action.
##	</summary>
## </param>
#
interface(`ftransferd_initrc_domtrans',`
	gen_require(`
		type ftransferd_initrc_exec_t;
	')

	init_labeled_script_domtrans($1,ftransferd_initrc_exec_t)
')

########################################
## <summary>
##	All of the rules required to administrate 
##	an ftransferd environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to be allowed to manage the ftransferd domain.
##	</summary>
## </param>
## <param name="terminal">
##	<summary>
##	The type of the user terminal.
##	</summary>
## </param>
## <rolecap/>
#
interface(`ftransferd_admin',`
	gen_require(`
		type ftransferd_t;
	')

	allow $1 ftransferd_t:process { ptrace signal_perms getattr };
	read_files_pattern($1, ftransferd_t, ftransferd_t)
	        

	gen_require(`
		type ftransferd_initrc_exec_t;
	')

	# Allow ftransferd_t to restart the apache service
	ftransferd_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 ftransferd_initrc_exec_t system_r;
	allow $2 system_r;

')
